<!-- app/views/entities/show.html.erb -->
<nav class="sec-nav-details" role="navigation">

  <div class="view-title">
  <span class="back-btn"><%= link_to 'â†', group_path(@group) %></span>
  <h2>Details</h2>
  </div>
</nav>
<div class="group-sumry">
  <img class="group-icon" src="<%= @group.icon %>" alt="Group Icon">
  <h1><%= @group.name %></h1>
  </div>
<div class="entity-details">
  <h1><%= @entity.name %></h1>
  <p>Amount: $<%= @entity.amount %></p>
  <p>This transaction was created on: <%= @entity.created_at.strftime('%B %d, %Y') %></p>
  <div class="actions">
    <%= link_to 'Edit', edit_group_entity_path(@group, @entity), class: 'edit-button' %>
    <%= link_to 'Back', group_path(@group), class: 'back-button' %>
  </div>
</div>
