<h1><%= @group.name %></h1>
<% @entities.each do |entity| %>
  <div class="transaction-item">
    <%= link_to entity.name, group_entity_path(@group, entity) %>: <%= entity.amount %>
  </div>
<% end %>
<%= link_to 'Add a New Transaction', new_group_entity_path(@group) %>
<%= link_to 'Back', groups_path %>
